@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <br />
    <p>
        Product Market is a database with products and supplier companies.</p>
    <p>
        You can see a range of our products, but to change something you need to register or log into your account.</p>

       <p>(Tips: Passwords and UserNames are in Data folder)    </p>
</div>
