@model ProductStoreEditor.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
           Product
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Company)
            <!--asp-for="ProductToBeEdited.SupplierId" class="form-control" asp-items="Model.Suppliers"></select>-->
        </dd>
        <dt class="col-sm-2">
            Product Photo
        </dt>
        <dd class="col-sm-10">
            <img src="~/Images/ProductPhotos/@Model.PhotoFileName" width="250" height="250" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
